name: RustDesk + Win10

on:
  workflow_dispatch:

jobs:
  run-rustdesk:
    runs-on: windows-2022
    steps:
      - name: Install & Connect Tailscale
        shell: powershell
        run: |
          $tsUrl = "https://pkgs.tailscale.com/stable/tailscale-setup-1.92.3-amd64.msi"
          $installerPath = "$env:TEMP\tailscale.msi"
          Invoke-WebRequest -Uri $tsUrl -OutFile $installerPath
          Start-Process msiexec.exe -ArgumentList "/i", "`"$installerPath`"", "/quiet", "/norestart" -Wait
          & "$env:ProgramFiles\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTHKEY }} --hostname=gh-runner-${{ github.run_id }}
          $tsIP = & "$env:ProgramFiles\Tailscale\tailscale.exe" ip -4
          "TAILSCALE_IP=$tsIP" | Out-File -Append $env:GITHUB_ENV

      - name: Install RustDesk
        shell: powershell
        run: |
          $rdUrl = "https://github.com/rustdesk/rustdesk/releases/download/1.3.1/rustdesk-1.3.1-x86_64.msi"
          $installerPath = "$env:TEMP\rustdesk.msi"
          Invoke-WebRequest -Uri $rdUrl -OutFile $installerPath
          Start-Process msiexec.exe -ArgumentList "/i", "`"$installerPath`"", "/quiet", "/norestart" -Wait
          
          & "C:\Program Files\RustDesk\rustdesk.exe" --password "MR.English2008"
          
          Start-Sleep -Seconds 5
          & "C:\Program Files\RustDesk\rustdesk.exe" --get-id | Out-File -FilePath "$env:TEMP\id.txt"
          $rdID = Get-Content "$env:TEMP\id.txt"
          $rdID = $rdID.Trim()
          "RUSTDESK_ID=$rdID" | Out-File -Append $env:GITHUB_ENV

      - name: Configure Firewall
        shell: powershell
        run: |
          netsh advfirewall firewall add rule name="RustDesk-TCP" dir=in action=allow protocol=TCP localport=21115-21119
          netsh advfirewall firewall add rule name="RustDesk-UDP" dir=in action=allow protocol=UDP localport=21116

      - name: Runner Status & Keep Alive
        shell: powershell
        run: |
          $endTime = (Get-Date).AddHours(6)
          Write-Host "Thanks to MR.English2008 for this perfect work"
          Write-Host "follow for more in my telegram channel"
          Write-Host "https://t.me/ME2008_RDP"
          Write-Host "..................................."
          
          Write-Host "================================"
          Write-Host "CONNECTION DETAILS:"
          Write-Host "RustDesk ID: $env:RUSTDESK_ID"
          Write-Host "Tailscale IP: $env:TAILSCALE_IP"
          Write-Host "Password: MR.English2008"
          Write-Host "================================"

          while ((Get-Date) -lt $endTime) {
              Write-Host "Status: Online | ID: $env:RUSTDESK_ID | IP: $env:TAILSCALE_IP | $(Get-Date)"
              Start-Sleep -Seconds 60
          }

